body {
	height: 100%;
	background-color: #81ecec;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

p {
	font-size: 55px;
	color: #585858;
	line-height: 1.6;
	font-weight: 500;
}
.api {
	display: flex;
	justify-content: center;
	align-items: center;
}
